%ul
  - @tasks.each do|task|
    %li
      .description{:class => ('done' if task.is_done)}
        = task.description
        = link_to "<i>test</i>".html_safe, edit_task_path(task)

= link_to "new", {:controller => "tasks", :action => "new"}
