// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  font-family: sans-serif;
}

.filter {
  display: inline-block;
  padding: 12px 15px;
  border-radius: 15rem;

  &.active {
    background: #66CC66;
    color: white;
  }
}
